<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>enterprise.util.DestroyServletListener</listener-class>
    </listener>
 <!--   <listener>
        <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
    </listener> -->
    
    <servlet>
        <servlet-name>jdbc-test</servlet-name>
        <jsp-file>/WEB-INF/jsp/test/jdbc-test.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>hib-test</servlet-name>
        <jsp-file>/WEB-INF/jsp/test/hib-test.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>hib-cached-test</servlet-name>
        <jsp-file>/WEB-INF/jsp/test/hib-cached-test.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>hib-jta-test</servlet-name>
        <jsp-file>/WEB-INF/jsp/test/hib-jta-test.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>initializer</servlet-name>
        <servlet-class>enterprise.util.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hib-test</servlet-name>
        <url-pattern>/hib-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hib-cached-test</servlet-name>
        <url-pattern>/hib-cached-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jdbc-test</servlet-name>
        <url-pattern>/jdbc-test</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>hib-jta-test</servlet-name>
        <url-pattern>/hib-jta-test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
 
    <resource-ref>
        <description>
            Recource reference to the Mysql 'registry' database
        </description>
        <res-ref-name>jdbc/registryDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>
            Recource reference to the Mysql 'enterprise' database
        </description>
        <res-ref-name>
            jdbc/enterpriseDS
        </res-ref-name>
        <res-type>
            javax.sql.DataSource
        </res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <pre-destroy>
        <lifecycle-callback-class>enterprise.util.PreDestroyCleaner</lifecycle-callback-class>
        <lifecycle-callback-method>cleanupC3P0</lifecycle-callback-method>
    </pre-destroy>
</web-app>
