<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   
    <!--Spring appication context file-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/enterprise-context.xml 
        </param-value>
    </context-param>
    <!--Spring's servlet context loader listener class--> 
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--ehcache and C3P0 listeners-->
    <!--<listener>
        <listener-class>enterprise.util.DestroyServletListener</listener-class>
    </listener>-->
    <!--    <listener>
        <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
    </listener> -->
    
    <!-- Test servlets -->
    <servlet>
        <servlet-name>jdbc-test</servlet-name>
        <jsp-file>/WEB-INF/jsp/test/jdbc-test.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>hib-test</servlet-name>
        <jsp-file>/WEB-INF/jsp/test/hib-test.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>hib-cached-test</servlet-name>
        <jsp-file>/WEB-INF/jsp/test/hib-cached-test.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>hib-jta-test</servlet-name>
        <jsp-file>/WEB-INF/jsp/test/hib-jta-test.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>btm-test</servlet-name>
        <jsp-file>/WEB-INF/jsp/test/btm-test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>hib-test</servlet-name>
        <url-pattern>/hib-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hib-cached-test</servlet-name>
        <url-pattern>/hib-cached-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jdbc-test</servlet-name>
        <url-pattern>/jdbc-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hib-jta-test</servlet-name>
        <url-pattern>/hib-jta-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>btm-test</servlet-name>
        <url-pattern>/btm-test</url-pattern>
    </servlet-mapping>
    <!-- -->
    
    <!-- Spring FrontController dispatcher servlet -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <!-- -->
       
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list> 
</web-app>
